extends template/layout

block content
    .row
        .col-lg-6.top-box
            h4= "Discussing Now"
        .col-lg-6.top-box
            if user.name
                h4= "Schedule"
            else
                form(name="login_local", action="/auth/local", method="post")
                    .form-group
                        input.form-control(type="text", name="username", placeholder="User Name", required)
                        input.form-control(type="text", name="password", placeholder="Password", required)
                        button.btn.btn-sm.btn-primary(type="submit", value="go") Login
                a.btn-lg.btn-success(href="/auth/reddit", title="", target="") Login with Reddit
    .row
        .btn-group(role="group", aria-label="...")
            a.btn.btn-primary Button1
            a.btn.btn-primary Button2
            a.btn.btn-primary Button3
            a.btn.btn-primary Button4
            a.btn.btn-primary Button5
    .row
        h4= "Ongoing Groups"
        .col-lg-2 Day1
        .col-lg-2 Day2
        .col-lg-2 Day3
        .col-lg-2 Day4
        .col-lg-2 Day5
        .col-lg-2 Day6
    .row
        .col-lg-6.top-box
            h4= "Upcoming Groups"
        .col-lg-6.top-box
            h4= "Groups by Tags"