extends ../template/layout

block content
    link(rel='stylesheet', href='/javascripts/datetimepicker-master/jquery.datetimepicker.css')
    script(type='text/javascript', src='/javascripts/datetimepicker-master/build/jquery.datetimepicker.full.min.js')
    form(name="start_group", action="/group/"+group.slug+"/edit", method="post")
        .form-group
            .row
                .col-lg-4
                    h3= title
                    input(type="hidden", name="group_slug", value=group.slug)
                    input(type="hidden", name="series_slug", value=series_slug)
                    input.form-control(type="text", name="description", placeholder="Description", value=group.description)
                    input.form-control(type="text", name="discussion_link", placeholder="Discussion Forum Link", value=group.discussion_link)
                    input.form-control(type="text", name="ref_link", placeholder="Reference Link", value=(group.link)?group.link[0]:"")
                .col-lg-4
                    .selectContainer
                        select.form-control(name="is_active")
                            option(value="true", selected=(group.is_active==true)) Active
                            option(value="false", selected=(group.is_active==false)) Inactive
            - var i = 0;
            each schedule, schedule_key in group_schedules
                .row
                    .col-lg-1
                        p #{schedule.episode_number} 
                        input(type="hidden", name="episode_number[#{schedule.series_slug}][#{i}]", value=schedule.episode_number)
                    .col-lg-4
                        input.form-control.datetimepicker(type="text", name="discussion_time[#{schedule.series_slug}][#{i}]", placeholder="Discussion time", value=schedule.discussion_time)
                    .col-lg-4
                        input.form-control(type="text", name="schedule_discussion_link[#{schedule.series_slug}][#{i}]", placeholder="Discussion link", value=schedule.discussion_link)
                - i++;
            script(type='text/javascript').
                $('.datetimepicker').datetimepicker();
            button.btn.btn-sm.btn-primary(type="submit", value="go") Save changes